.App-header {
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-bottom: 20px;
}


.App-link {
  color: #61dafb;
}

a.navbar-brand {
  font-size: calc(20px + 2vmin);
}

form {
  max-width: 400px;
  margin: auto;
}